/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
}

.article__img img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 20.2rem;
  object-fit: cover;
  object-position: 0rem -1.5rem;
}

.article {
  max-width: 33rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 7px 25px -2px rgba(0, 0, 0, 0.22);
}
.article__text {
  margin: 3.2rem 3.2rem 2rem 3.2rem;
}
.article__heading {
  color: #48556a;
  margin-bottom: 0.8em;
  font-size: 1.69rem;
  font-weight: 700;
  line-height: 1.4em;
}
.article__paragraph {
  color: #6d7f97;
  line-height: 1.6em;
}
.article__author {
  display: flex;
  align-items: center;
  padding: 0 3.2rem;
  height: 7rem;
  transition: background-color 0.5s;
}
.article__avatar {
  max-width: 3.8rem;
  border-radius: 10rem;
  margin-right: 1.6rem;
}
.article__username {
  color: #48556a;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.article__date {
  color: #9eafc2;
}
.article__btn {
  margin-left: auto;
  border: none;
  background-color: #ecf2f8;
  padding: 0.8rem 0.9rem;
  border-radius: 10rem;
  cursor: pointer;
}
.article__btn i {
  color: #48556a;
}
.article__social {
  display: none;
}
.article__icon i {
  font-size: 3rem;
}

.article__author.active {
  background-color: #48556a;
}
.article__author.active .article__avatar,
.article__author.active .article__info {
  display: none;
}
.article__author.active .article__btn {
  background-color: #6d7f97;
}
.article__author.active .article__btn i {
  color: #fff;
  pointer-events: none;
}
.article__author.active .article__social {
  display: flex;
  align-items: center;
}
.article__author.active .article__social span {
  color: #9eafc2;
  letter-spacing: 0.4em;
  margin-right: 1.5rem;
}
.article__author.active .article__icon {
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.article__author.active .article__icon:not(:last-child) {
  margin-right: 1.5rem;
}

@media (min-width: 900px) {
  .article {
    display: flex;
    width: auto;
    max-width: 72rem;
    overflow: visible;
  }

  .article__img {
    width: 40%;
  }
  .article__img img {
    border-radius: 1rem 0 0 1rem;
  }

  .article__wrapper {
    width: 60%;
    position: relative;
    border-radius: 1rem;
  }

  .article__text {
    margin: 3.2rem 3.5rem 0.3rem 3.5rem;
  }

  .article__heading {
    font-size: 2rem;
  }

  .article__img img {
    height: 100%;
    object-fit: cover;
    object-position: 5% 50%;
  }

  .article__author {
    padding: 0rem 3.5rem 1.5rem 3.5rem;
  }

  .article__social {
    transition: opacity 1s ease;
  }

  .article__author.active {
    background-color: #fff;
  }
  .article__author.active .article__social {
    position: absolute;
    top: 49%;
    right: -16%;
    background-color: #48556a;
    padding: 1.5rem 3.5rem;
    border-radius: 0.8rem;
    box-shadow: 2px 7px 25px -2px rgba(0, 0, 0, 0.22);
  }
  .article__author.active .article__social::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    bottom: -15%;
    left: 47.5%;
    transform: rotate(45deg);
    background-color: #48556a;
  }
  .article__author.active .article__avatar,
.article__author.active .article__info {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
