body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grayish-blue;
}

.article__img {
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 20.2rem;
    object-fit: cover;
    object-position: center;
    object-position: 0rem -1.5rem;
  }
}

.article {
  max-width: 33rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;

  &__wrapper {
    margin: 3.2rem 3.2rem 2rem 3.2rem;
  }

  &__heading {
    color: $very-dark-grayish-blue;
    margin-bottom: 0.8em;
    font-size: 1.69rem;
    font-weight: 700;
    line-height: 1.4em;
  }

  &__paragraph {
    color: $desaturated-dark-blue;
    line-height: 1.6em;
  }

  &__author {
    display: flex;
    align-items: center;
    padding: 0 3.2rem;
    height: 7.5rem;
    transition: background-color 0.5s;
  }

  &__avatar {
    max-width: 4rem;
    border-radius: 10rem;
    margin-right: 1.6rem;
  }

  &__username {
    color: $very-dark-grayish-blue;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }

  &__date {
    color: $grayish-blue;
  }

  &__btn {
    margin-left: auto;
    border: none;
    background-color: $light-grayish-blue;
    padding: 0.9rem 1rem;
    border-radius: 10rem;
    cursor: pointer;

    i {
      color: $very-dark-grayish-blue;
    }
  }

  &__social {
    display: none;
  }
}

.article__author.active{
  background-color: $very-dark-grayish-blue;

  .article__avatar,
  .article__info {
    display: none;
  }

  .article__btn {
    background-color: $desaturated-dark-blue;

    i {
      color: #fff;
      pointer-events: none;
    }
  }

  .article__social {
    display: flex;
    align-items: center;
    
    span {
      color: $grayish-blue;
      letter-spacing: 0.4em;
      margin-right: 1.2rem;
    }
  }

  .article__icon:not(:last-child) {
    margin-right: 1.8rem;
  }

}
